{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <title>ARAH - Directs You</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    
    <style>
        .topnav-right {
            float: right;
        }

        .logo{
            width: 85px;
            height: 56.75px;
        }

        .img {
        background-image: url("{% static 'bg-home.png' %}");
        }
    </style>


</head>

<nav class="navbar navbar-expand-lg navbar-light  fixed-top mb-4" style="background-color: #7AAF86">
    <img src="{% static 'logoARAH.png' %}" class="logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item disabled">
                <a class="nav-link disabled" href="{% url 'home:home' %}" style="color:#E5E5E5;">{{greet}} <span
                        class="sr-only">(current)</span></a>
            </li>
    </ul>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home:home' %}" style="color:#E5E5E5;">HOME <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color:#E5E5E5;">
                    SCIENCE
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'apps:sciApp' %}">Applications</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'books:sciBook' %}">Books</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'webs:sciWeb' %}">Websites</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'developers:developers' %}" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color:#E5E5E5;">
                    SOCIAL
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'apps:socApp' %}">Applications</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'books:socBook' %}">Books</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'webs:socWeb' %}">Websites</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color:#E5E5E5;">
                    SEARCHER
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'searchBook:searchBook' %}">Book Search</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'gameApp:gameSearch' %}">Game Search</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'musicSearch:musicSearch' %}">Music Search</a>
                </div>
            </li>


            <li class="nav-item active">
                    <a class="nav-link" href="{% url 'developers:developers' %}" style="color:#E5E5E5;">DEVELOPERS<span
                            class="sr-only">(current)</span></a>
                </li>

            <li class="nav-item active">
                <a class="nav-link" href="{{inouturl}}" style="color:#E5E5E5;">{{inoutword}}<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}


</html>