{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            About Us
        </title>
        <meta charset="utf-8">
        <style>    
            .img{
                background-image: url("{% static 'bg_all.png' %}");
                background-size:100%;
            }
            html{
                scroll-behavior: smooth;
            }
        </style>
    </head>
    <body class = img>
        <div class = "container mt-3">
            <div class = "d-flex justify-content-around mb-3 text-center">
                <div class = "p-2" style="margin-top: 50px">
                    <h1>Meet The Devs</h1>
                    <h3>_____________________</h3><br><br>
                </div>
            </div>
                <img src={% static '171604.jpg' %} alt="Ini Ami" width="300px" height="400px" style="float: left;border-radius: 15%" >
                <div style="text-align: center;padding-top: 100px">
                    <h2>Muzaki Azami</h2>
                    <p>Ami, mahasiswa jurusan ilmu komputer yang bisa menguasai beberapa<br> bahasa pemrograman,
                    bahkan ia cukup mahir dalam salah satunya sehingga<br> ia menjadi asisten dosen dalam
                    bahasa pemrograman python.<br> Dan ia juga suka review film-film</p>
                    <hr>
                </div>
            <div style="padding-top: 200px">
                <img src={% static 'DSC01607_1.jpg' %} alt="Ini Riri" width="300px" height="350px" style="float: right;border-radius: 15%">
                <div style="text-align: center;padding-top: 100px">
                    <h2>Riri Edwina</h2>
                    <p>Riri adalah mahasiswa jurusan ilmu komputer yang sangat senang dengan ilmu-ilmu baru.<br>
                    Ia juga senang menari, dan ia sangat senang hati untuk menerima setiap kesempatan untuk mengajar<br>
                    maupun untuk kebutuhan sekolah maupun mengajar untuk menari.
                    </p>
                    <hr>
                </div>
            </div>    
            <div style="padding-top:200px">    
                <img src= {% static 'PicsArt_09-06-09.05.16.jpg' %} alt="Ini Hanrichie" width="300px" height="350px" style="float: left;border-radius: 15%" ><br>
                <div style="text-align: center;padding-top: 100px">
                    <h2>Hanrichie</h2>
                    <p>Hanriche ini umurnya paling muda diantara kami semua,<br> tetapi ia sangat baik
                    beradaptasi dengan teman temannya yang beda umurnya.<br> Dan dalam bidang keilmuan, ia juga
                    mahir dalam beberapa bahasa programming.</p>
                    <hr>
                </div>
            </div>    
            <div style="padding-top:200px">
                <img src={% static 'IMG_20181117_162145_233.jpg' %} alt="Ini Ali" width="300px" height="350px" style="float: right;border-radius: 15%">
                <div style="text-align: center;padding-top: 100px">
                    <h2>Muhammad Ali Asadillah</h2>
                    <p>Ali merupakan mahasiswa jurusan ilmu komputer, ia pernah menjabat sebagai koordinator angkatan<br>
                    ditahun 2018. ia juga cukup menguasai beberapa bahasa programming. dan sekarang ia aktif dalam
                    beberapa kepantiaan di fakultasnya. Ia juga suka basket.</p>
                 </div>
                 <div style="padding-top: 200px;padding-bottom: 50px">
                    <h4>Cek juga website kita untuk info lebih lengkap!</h4>
                    <hr>
                    <div style="padding-top: 10px">
                        <a href="https://monnami.herokuapp.com/" style="color: black">Tentang Ami</a><br><hr>
                        <a href="http://web-riri.herokuapp.com/" style="color: black;">Tentang Riri</a><br><hr>    
                        <a href="https://hanrichie.herokuapp.com/" style="color: black;">Tentang Hanrichie</a><br><hr>    
                        <a href="https://story5-ali.herokuapp.com" style="color: black;">Tentang Ali</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}