{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game Search Engine</title>
        <style>
            body {
                font-family: 'Nunito', sans-serif;
            }
            h1 {
                text-align: center;
            }
            form {
                justify-content: center;
            }
            .tableStyle {
                color: #7AAF86;
                background: none;
            }
            .editForm {
                margin-top: 150px;
                color: #7AAF86;
            }
        </style>
    </head>
    <body class="container">
        <div class="editForm">
            <h1>Game Search Engine</h1>
            <form class="form-inline mr-auto">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit" onclick="searchGame();">Search</button>
            </form>
        </div>
        <table class="table tableStyle">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Metacritic Rating</th>
                    <th scope="col">Release Date</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <!-- <script type="text/javascript" src ="{% static 'myFunc.js' %}"></script> -->
        <script>
            function searchGame() {
                $('form').submit(function(event){
                    console.log("masuk")
                    let item = $('input').val();
                    let url_search = "https://api.rawg.io/api/games?page_size=5&search=" + item;

                    $.ajax({
                        type: 'GET',
                        url: url_search,
                        dataType: 'json',
                        success: function(out){
                            let dataList = out.results;
                            $('tbody').empty();
                            
                            var i = 0;
                            // for (i = 0; i < 20; i++) {
                            while (i < 6) {
                                let data = dataList[i];

                                var number = $('<td>').text(i+1);
                                var image = $("<td>").append($('<img>').attr({
                                    'class':'img-fluid', 'style':'width:36vh', 'src': data.background_image
                                    }));
                                var name = $('<td>').text(data.name);
                                if (data.metacritic != null) {
                                    var rating = $('<td>').text(data.metacritic);
                                } else {
                                    var rating = $('<td>').text("Unrated");
                                }

                                if (data.release != null) {
                                    var releaseDate = $('<td>').text(data.released);
                                } else {
                                    var releaseDate = $('<td>').text("Unknown")
                                }

                                var gameData = $('<tr>').append(number, image, name, rating, releaseDate);
                                $('tbody').append(gameData);
                                i++;
                            }
                        },
                    })
                    event.preventDefault();
                })
            };
        </script>

   </body>
</html>

{% endblock %}