{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}

<style>
    .img {
        background-image: url("{% static 'bg-home.png' %}");

    }

    html {
        scroll-behavior: smooth;
    }

    .desc1 {
        width: 400px;
    }

    .icon{
        margin-top: 150px; 
        width: 300px; 
        height: auto;
        flex-wrap: wrap;
    }

    #web{
        margin-top: 225px;
    }

    @media screen and (max-width: 720px){
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 25px;
        }
        .desc1{
            width: 300px;
            font-size: 10px;
            margin-bottom: -150px;
        }
        .desc2{
            width: 300px;
            font-size: 10px;
            margin-bottom: -150px;
        }

        #web{
            margin-top: 100px;
        }

        .container mt-3{
            width: 480px;
        }
    }
</style>

<body class="img">
    <div class="container mt-3">
        <div class="d-flex justify-content-around mb-3" style="flex-wrap: wrap;">
            <div class="p-2" style="margin-top: 150px">
                <h1>A R - A H</h1>
                <h2>Your college life assistant</h2>
                <p class="desc1">Welcome to AR-AH. We're here to ease your burden.
                    Just click the button in accordance to your major,
                    and pick among a list of applications, books, and
                    websites recommended by us and your fellow college students,
                    whatever suits your need.
                    <br>
                    <br>
                    We also provides users with the ability to find entertainments
                    that suits their need. Just log in and let us do the magic.
                    </p>
            </div>
            <div class="p-2 text-center"><img src="{% static 'icon_home.svg' %}" class = "icon";>
                <br><button type="button" class="btn btn-link img-fluid">
                    <a href="#web">About Website</a>
                </button>
            </div>
        </div>

        <div class="d-flex justify-content-around mb-3 text-center" id="web">
            <div class="p-2">
                <h4>About the website</h4>
                <br>
                <p class="desc2">Our apps helps college students finding everything they need academically, so they can focus on the
                    thing that matters, using them.
                    The apps will give college students, depending on their major, a list of apps, books, and websites
                    that they need.
                    Users can submit their own reccomendation of apps/webs/books. Every recommendations can be rated by
                    the users, to keep the quality
                    of the recommendations in check.
                    
                    <br>
                    <br>
                    Our apps also provides our user a search engine to help them find whatever form of entertainments they want.
                    </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>


</body>

{% endblock %}