{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}

<style>

    .btn{
        margin-bottom: 20px;
        margin-left: 100px;
    }

    .img {
        background-image: url("{% static 'bg-home.png' %}");

    }

    html {
        scroll-behavior: smooth;
    }

    .desc1 {
        width: 400px;
    }

    .icon {
        margin-top: 150px;
        width: 300px;
        height: auto;
        flex-wrap: wrap;
    }

    #web {
        margin-top: 225px;
    }

    @media screen and (max-width: 720px) {
        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 25px;
        }

        .desc1 {
            width: 300px;
            font-size: 10px;
            margin-bottom: -150px;
        }

        .desc2 {
            width: 300px;
            font-size: 10px;
            margin-bottom: -150px;
        }

        #web {
            margin-top: 100px;
        }

        .container mt-3 {
            width: 480px;
        }
    }
</style>

<body class="img">
    <div class="container mt-5">
            <br>
            <br>
            <br>
            <br>
            <br>
        <div class="d-flex justify-content-around mt-5" style="flex-wrap: wrap;">
            <h1>You need to login first to use this feature</h1>
        </div>
    </div>
    
</body>
{% endblock %}