{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Music Search Engine</title>
        <style>
            body {
                font-family: 'Nunito', sans-serif !important;
            }
            .tableStyle {
                color: #7AAF86;
                background: none;
            }
            .editForm {
                margin-top: 150px;
                color: #7AAF86;
            }
        </style>
    </head>
    <body class="container">
        <div class="editForm">
            <h1 id="JUDUL" onclick="refresh()" onmouseout ="normal()"onmouseover="info()">Music Search Engine</h1>
            <form id="Form" class="form-inline mr-auto">
                <input onkeydown="resset(event)" id="SearchBar"class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
            </form>
        </div>
        <table class="table tableStyle">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Artist</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <!-- <script type="text/javascript" src ="{% static 'myFunc.js' %}"></script> -->
        <script>
            $(document).ready(function(){
                $('form').submit(function(event){
                    console.log("masuk")
                    let item = $('input').val();
                    let url_search = "https://cors-anywhere.herokuapp.com/https://api.deezer.com/search/track/?q=" + item + "&index=0&limit=10&output=json";

                    $.ajax({
                        type: 'GET',
                        url: url_search,
                        dataType: 'json',
                        success: function(result){
                            let dataList = result.data;
                            $('tbody').empty();
                            
                            for (i = 0; i < 10; i++) {
                                let data = dataList[i];

                                var number = $('<td>').text(i+1);
                                var url = data.album.cover;
                                var url_n = encodeURI(url);
                                var image = $('<td>').append($('<img>').attr({
                                    'src': url_n
                                    }));
                                var title = $('<td>').text(data.title_short);
                                var artist = $('<td>').text(data.artist.name);

                                var songData = $('<tr>').append(number, image, title, artist);
                                $('tbody').append(songData);
                            }
                        },
                    })
                    event.preventDefault();
                })
            });
        </script>
        <script>
            function resset(event) {
                var x = event.keyCode;
                if (x == 46) { 
                    console.log("AS")
                    document.getElementById("Form").reset();
                }
            }

            function refresh() {
                console.log("refresh")
                location.reload();
            }

            function info() {
                document.getElementById("JUDUL").innerHTML = "API by Deezer"
            }

            function normal() {
                document.getElementById("JUDUL").innerHTML = "Music Search Engine"
            }
        </script>
        

   </body>
</html>

{% endblock %}