{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}


<style>
    .title {
        font-size: 25px;
        color: #252525;
    }

    .box {
        border: 4px solid #7AAF86;
        padding: 5px;
    }

    .score {
        font-size: 30px;
    }


    @media screen and (max-width: 480px){
        .title{
            font-size: 18px;
        }

        .score{
            font-size: 20px;
        }
    }

    @media screen and (max-width: 360px){
        .title{
            font-size: 15px;
        }

        .score{
            font-size: 18px;
        }
    }
</style>





<body>
    <div class="container mt-5">
        <br>
        <h1>Science - Apps</h1>
        <h2>Here, just for you</h2>
        {% for apps in applications %}

        <div class="d-flex mt-1 box">
            <a class="nav-link" href="{{ apps.theurl }}">
                <div class="title">{{ apps.title }}</div>
            </a>
            <a class="p-2 ml-auto" href="{% url 'apps:upvoteSciApp' id=apps.id %}">
            <div><img src={% static 'arrow-up.png' %} style="width: 25px; height: 25px;"></div>
            </a>
            <div class="score">{{ apps.score }}</div>
            <a href="{% url 'apps:downvoteSciApp' id=apps.id %}">
            <div class="p-2"><img src={% static 'arrow-pointing-down.png' %} style="width: 25px; height: 25px;"></div>
            </a>
        </div>

        {% endfor %}

        <div class="d-flex justify-content-center mt-3">
            <div class="p-2">Want to recommend something?</div>
        </div>


        <div class="d-flex justify-content-center mb-3">
            <a href="{% url 'apps:sciAppRec' %}">
                <button type="button" class="btn btn-outline-dark">Click here</button>
            </a>
        </div>

    </div>

</body>
{% endblock %}