{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}

<style>

    
    .helptext{
        display: none;
    }

    .errorlist{
        font-style: italic;
        font-size: x-small;
    }

    th{
        padding: 10px;
    }



    .formarts{
        border: 5px dashed black;
        padding: 10px;
        
    }
    .img {
        background-image: url("{% static 'bg-home.png' %}");

    }

    html {
        scroll-behavior: smooth;
    }

    .desc1 {
        width: 400px;
    }

    .icon {
        margin-top: 150px;
        width: 300px;
        height: auto;
        flex-wrap: wrap;
    }

    #web {
        margin-top: 225px;
    }

    @media screen and (max-width: 720px) {
        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 25px;
        }

        .desc1 {
            width: 300px;
            font-size: 10px;
            margin-bottom: -150px;
        }

        .desc2 {
            width: 300px;
            font-size: 10px;
            margin-bottom: -150px;
        }

        #web {
            margin-top: 100px;
        }

        .container mt-3 {
            width: 480px;
        }
    }
</style>

<body class="img">
    <div class="container mt-5" align=center>
        <br>
        <br>
        <div class="d-flex justify-content-around mt-5" style="flex-wrap: wrap;">
            <form class="site-form formarts" action="{% url 'accounts:signup' %}" method="post">
                {% csrf_token %}
                <table style="color: black;">
                    {{ form.as_table }}
                </table>
                <br>
                <input class="btn btn-outline-dark" type="submit" value="Sign Up">
            </form>
        </div>
    </div>
</body>
{% endblock %}