{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}


<style>

    h1{
        margin-top: 20px;
        border: 4px dotted #7AAF86;
        padding: 6px;
        text-align: center;
    }

    @media screen and (max-width: 480px){
        h1{
            font-size: 30px;
        }
    }

    @media screen and (max-width: 480px){
        h1{
            font-size: 20px;
        }
    }

    

</style>


<body>
    <div class="container mt-3">
        <br>
        <br>
        <h1>Enter your fantabulous recommendation!</h1>
        <div class="d-flex box mt-5 justify-content-center">
            <form class="site-form" action="{% url 'apps:socAppRec' %}" method="post">
                {% csrf_token %}
                <table style="color: #7AAF86;">
                    {{ form.as_table }}
                </table>
                <input class="btn btn-outline-dark" type="submit" value="Recommend!">
            </form>
        </div>
    </div>
</body>

{% endblock %}