{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}


<style>
    .title {
        font-size: 25px;
        color: #252525;
    }

    .box {
        border: 4px solid #7AAF86;
        padding: 5px;
    }

    .score {
        font-size: 30px;
    }

    .dodge {
        margin-left: 40%;
    }

    @media screen and (max-width: 480px){
        .title{
            font-size: 18px;
        }

        .score{
            font-size: 20px;
        }
    }

    @media screen and (max-width: 360px){
        .title{
            font-size: 15px;
        }

        .score{
            font-size: 18px;
        }
    }
</style>





<body>
    <div class="container mt-5">
        <br>
        <h1>Social - Webs</h1>
        <h2>Here, just for you</h2>
        {% for webs in websites %}

        <div class="d-flex mt-1 box">
            <a class="nav-link" href="{{ webs.theurl }}">
                <div class="title">{{ webs.title }}</div>
            </a>

            <a class="p-2 ml-auto" href="{% url 'webs:upvoteSocWeb' id=webs.id %}">
            <div>
                <img onmouseover="upvote(this)" onmouseout="noUpvote(this)" src={% static 'arrow-up.png' %} style="width: 25px; height: 25px;">
            </div>
            </a>

            <div class="score">{{ webs.score }}</div>
            <a href="{% url 'webs:downvoteSocWeb' id=webs.id %}">
            <div class="p-2">
                <img onmouseover="downvote(this)" onmouseout="noDownvote(this)" src={% static 'arrow-pointing-down.png' %} style="width: 25px; height: 25px;">
            </div>
            </a>
        </div>

        {% endfor %}

        <div class="d-flex justify-content-center mt-3">
            <div class="p-2">Want to recommend something?</div>
        </div>


        <div class="d-flex justify-content-center mb-3">
            <a href="{% url 'webs:socWebRec' %}">
                <button type="button" class="btn btn-outline-dark">Click here</button>
            </a>
        </div>

        <button class="btn" id="textGame" onmouseover="lilGame()" onmouseout="lilDodge()" onclick="congrats()"
            style="margin-bottom: 5%; color: #7AAF86; font-size: 20px; font-weight: bold;">try to click me!</button>

    </div>

    <script>
        function downvote(arrow) {
            arrow.src = "{% static 'arrow-pointing-downHOVER.png' %}"
        }

        function noDownvote(arrow) {
            arrow.src = "{% static 'arrow-pointing-down.png' %}"
        }

        function upvote(arrow) {
            arrow.src = "{% static 'arrow-upHOVER.png' %}"
        }

        function noUpvote(arrow) {
            arrow.src = "{% static 'arrow-up.png' %}"
        }

        function lilGame() {
            document.getElementById("textGame").classList.add('dodge')
        }

        function lilDodge() {
            document.getElementById("textGame").classList.remove('dodge')
        }

        function congrats() {
            document.getElementById("textGame").innerHTML = "Congratulations! :)"
        }

    </script>

</body>
{% endblock %}