{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
        <script type = "text/javascript" src ="{% static 'index.js' %}"></script>
        <title>Search Book Engine</title>
        <style>
        body {
            font-family: 'Nunito', sans-serif !important;
            }
        </style>
        <script>
            function reset(event) {
                var x = event.keyCode;
                if (x == 46) {  
                    document.getElementById("Form").reset();
                }
            }

            function refresh() {
                location.reload();
            }

            function info() {
                document.getElementById("JUDUL").innerHTML = "API by Google"
            }

            function normal() {
                document.getElementById("JUDUL").innerHTML = "Search Book Engine"
            }
        </script>

    </head>
    <body>
        <div class="text-center" style="margin-top: 150px; color: #7AAF86;">
                <h1 id="JUDUL" onclick="refresh()" onmouseout ="normal()"onmouseover="info()" >Search Book Engine</h1>
                <input id="search" type="text" placeholder ="search...">
                <br>
                <input class ="btn btn-outline-light text-dark btn-sm" style = "margin-top: 10px; margin-bottom: 10px;" type="submit" id="button" value="search">
        </div>
        
        <table style="color: #7AAF86; background: none;">
            <thead>
              <tr>
                <th width = "20%" class="title text-center">Book Title</th>
                <th width = "40%" class="desc text-center">Description</th>
                <th width = "10%" class="link text-center">Author</th>
                <th width = "10%" class="imgg text-center">Book Cover</th>
              </tr>
              
            </thead>

            <tbody>
            </tbody>
        </table>
    </body>
</html>

{% endblock %}
